			<div class="col-4 col-md-4 col-lg-1 navbar-container bg-light text-center"> 
				<nav class="navbar navbar-expand-md navbar-light">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" href="{{ url_for('rueng.add') }}">Добавить слово</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ url_for('rueng.random') }}">Случайный порядок</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ url_for('rueng.write') }}">Написание</a>
							</li>

							<li class="nav-item mt-5">
								<a class="nav-link" href="#link-3">Настройки</a>
							</li>
						</ul>
				</nav>
			</div>